<?xml version="1.0"?>
<configuration>
    <system.web>

      <authorization>

        <allow roles="Employee, Customer" /> <!--dozvoli pristup korisnicima <Customer, Employee> ovoj strani-->
        <deny users="?" /> <!--dozvoli pristup SVIM korisnicima ovoj strani-->

      </authorization>
      
    </system.web>
</configuration>
